* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.main-heading {
  font-family: "Kaushan Script", Arial, Helvetica, sans-serif;
  font-size: 36px;
  margin: 30px 0;
  text-align: center;
}
.sub-title {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 40px;
  text-align: center;
}
.container {
  width: 500px;
  margin: 0 auto;
}
.custom-accordion .block {
  padding-bottom: 10px;
}
.custom-accordion .title {
  background: #ccc;
  padding: 10px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.custom-accordion .content {
  padding: 10px;
  line-height: 22px;
}
.custom-accordion .content img {
  width: 100%;
  height: auto;
}
.custom-accordion .active-title {
  background-color: #666666;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}
